Mastodon.py>=2.0.0
git+https://www.github.com/accessibleapps/sound_lib
tweak
nuitka
git+https://www.github.com/accessibleapps/accessible_output2
git+https://www.github.com/accessibleapps/keyboard_handler
pyperclip
wxpython
